.category {
    &-product {
        display: block;
        &:hover {
            outline: solid 2px $link;
            border-radius: var(--bulma-card-radius);
        }
        &:focus, 
        &:active {
            outline: solid 2px $link;
            border-radius: var(--bulma-card-radius);
            box-shadow: $box-shadow;
        }
    }
}